:root {
    --cor-hover: rgb(116, 244, 191);
    --cor-logo: #51ADE5;
    --cor-neutra: rgb(255, 255, 255);
    --cor-darkViolet: rgb(148, 0, 211);
    --cor-mediumpurple: rgb(147, 112, 219);
    --cor-aquamarine: rgb(127, 255, 212);
    --cor-paleturquoise: rgb(175, 238, 238);
    --cor-black: #090909;
    --cor-footer: #4F4F4F;
    --cor-fundo-sobre: #D2B48C;
    --cor-fundo-form: #8A2BE2;
}

/*topo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body.body-index {
    background-color: var(--cor-darkViolet);
    background-image: url(../Imagens/gradiente_2.png);
    background-repeat: repeat-y;
    background-size: 80%;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

div.logo-index img {
    width: 120%;
    height: 100%;
    margin-top: 5px;
    margin-left: 20px;
    position: relative;
}

.topicos {
    margin-top: 40px;
    position: absolute;
    left: 60%;
    top: 1px;
}

.menu-principal {
    background-color: transparent;
    display: flex;
    padding: 0 2%;
    width: 100%;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
}

header ul li a {
    text-decoration: none;
    color: var(--cor-neutra);
}

header a:link {
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
}

header a:hover {
    background: #66f3e3;
    color: #090909;
    font-weight: bold;
    border-color: #61e6be;
    border-radius: 50px;
}


/*pagina conteúdo*/


.body-container {
    min-height: 100vh;
}


div.imagem {
    position: absolute;
    top: 115px;
    left: 50px;
}

div.texto {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 650px;
}

.texto {
    font-family: monospace, garamond, sans-serif;
    font-size: 18px;
    margin-top: 120px;
    text-align: center;
    color: #FFDEAD;
    letter-spacing: 1px;
}


/*sobre*/

body.body-sobre {
    background: linear-gradient(#4B0082, #8B008B, #9400D3);
}

div.logo-sobre img {
    width: 50%;
    height: 90%;
    margin-left: -8%;
}

div.img-sobre img {
    width: 50%;
}

.container-sobre {
    width: auto;
    text-align: center;
    position: relative;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container-sobre h1 {
    margin-bottom: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cor-neutra);
    letter-spacing: 1px;
    /*colocar espaçamento nas letras*/
}

.container-sobre p {
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--cor-neutra);
    letter-spacing: 1px;
    font-size: x-large;
}

.div.texto-sobre {
    width: auto;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 15rem;
}

/* login */

.body-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Imagens/gif_material.gif);
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #8C52FF;
    background-position: center left 8%;
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {

    /* Estilos para telas menores que 768px */
    .body-login {
        background-size: 100%;
        background-position: center;
        background-position-x: center;
    }
}

div.login {
    margin-bottom: -2.5rem;
}

input,
label {
    display: block;
    outline: none;
    width: 100%;
}

#agreement a {
    color: var(--cor-paleturquoise);
}

/* formulário */

#container-login {
    max-width: 500px;
    border-radius: 40px;
    background: linear-gradient(#DCDCDC, #D3D3D3, #C0C0C0);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60%;
    margin-top: 10%;
}

#container-cadastro {
    max-width: 500px;
    /* Limita a largura máxima do formulário */
    border-radius: 40px;
    background: linear-gradient(#C0C0C0, #D3D3D3, #DCDCDC);
    padding: 20px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: static;
    margin-left: 60%;
}

@media screen and (min-width: 768px) {

    /* Estilos para telas maiores que 768px */
    #container-login,
    #container-cadastro {
        width: 40%;
        margin-right: 70px;
    }
}

#container-login h1,
#container-cadastro h1 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
    color: var(--cor-black);
    letter-spacing: 2px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--cor-black);
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #E60084;
}

input[type="submit"] {
    background-color: #FF4500;
    color: var(--cor-black);
    border: none;
    border-radius: 50px;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#agreement {
    margin-right: 5px;
}

#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
}

button.button {
    background-color: var(--cor-aquamarine);
    width: 50%;
    border-radius: 10px;
    padding: 3%;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-variant: all-small-caps;
}

button.button:hover {
    opacity: 0.5;
}

/*validação*/

div.notification-is-danger {
    color: #FF0000;
}

.half-box .error-validation {
    bottom: 8px;
}

.template {
    display: none;
}

/* Material Gratuito Pagina Inicial*/

.body-material {
    background-color: #8C52FF;
}

/* Rodapé - Footer*/


footer {
    width: 100%;
    height: auto;
    color: var(--cor-neutra);
    border-top: var(--cor-logo) 2px solid;
}

.footer-container {
    background-color: var(--cor-footer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-inicial {
    width: 350px;
}

.footer-inicial h3,
h4 {
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
    text-align: center;
}

.footer-inicial p {
    text-align: center;
    margin-bottom: 0.50rem;
    margin-left: 50px;
}

.logo-footer {
    width: 40%;
    margin: 1rem;
    margin-left: 110px;
}

.footer-redes-sociais {
    width: 500px;
    margin-top: 5rem;
}

.footer-redes-sociais h2 {
    margin-left: 250px;
}

.footer-redes-sociais .footer-link {
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    /*centralizando itens*/
    justify-content: center;
    color: var(--cor-neutra-40);
    border-radius: 50%;
    padding: 20px;
    margin-top: 5.5rem;
    margin-left: 35px;
    transition: all 0.4s;
    font-size: 18px;
}

.footer-redes-sociais .footer-link a,
i {
    margin-top: 5.5rem;
    align-items: center;
    justify-content: center;
}

.footer-link {
    text-decoration: none;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    margin-left: 150px;
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

#contato {
    background: linear-gradient(#708090, #778899, #DCDCDC);
}

.footer-redes-sociais .footer-link:hover {
    opacity: 0.5;
}

.footer-app {
    width: 400px;
    margin-top: 1rem;
    margin-left: 80px;
    text-align: center;
    margin-bottom: 1.5rem;
    transition: all 0.4s;
}

.footer-app h2 {
    margin-bottom: 1.5rem;
}

.footer-app h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: var(--cor-black);
    color: var(--cor-neutra);
    width: 30%;
    height: 10%;
    margin-left: 135px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 2rem;
}

.footer-app h3:hover {
    opacity: 0.5;
}

.footer-final {
    border: 1px solid var(--cor-neutra);
    background-color: var(--cor-footer);
    display: block;
    text-align: center;
}

/* Estilos para página região estados */

div.logo-estados img {
    margin-top: -1%;
    left: -7%;
    position: relative;
    width: 50%;
}

.topicos-estados {
    margin-top: 1%;
    position: absolute;
    left: 65%;
    top: 2%;
}

body.body-estados {
    background: linear-gradient(#4B0082, #8B008B, #9400D3);
}

.body-estados {
    min-height: 100vh;
}

.body-estados h1 {
    font-size: 40px;
    color: var(--cor-neutra);
    background-color: #090909;
    text-align: center;
    margin-bottom: 5%;
}

div.imagem-estados {
    position: absolute;
    width: 30%;
    left: 10%;
    top: 35%;
}

div.texto-estados {
    position: absolute;
    left: 50%;
    width: 40%;
}

div.container-estados {
    position: relative;
    left: 60%;
    width: 40%;
    margin-top: -3%;
}

.texto-estados {
    font-family: monospace, garamond, sans-serif;
    font-size: inherit;
    text-align: center;
    color: #FFDEAD;
    letter-spacing: 1px;
}

.estados {
    margin-bottom: 5%;
}

.estados a {
    text-decoration: none;
    color: #FFDEAD;
}

.material-estados {
    margin-bottom: 2rem;
    height: 30%;
}

.material-estados h2 {
    color: var(--cor-neutra);
    margin-bottom: -4rem;
}

.doc-pdf {
    color: #e60a0a;
    margin-right: 10px;
    text-decoration: none;
    font-size: 350%;
}

audio {
    margin-bottom: 1%;
}

.doc-pdf i {
    margin-right: 5px;
    margin-bottom: 5px;
}

.doc-pdf:hover {
    opacity: 0.8;
}

/*formatação das regioes menores*/

div.imagem-estado {
    position: absolute;
    width: 30%;
    left: 10%;
    top: 30%;
}

div.texto-estado {
    position: absolute;
    left: 50%;
    width: 40%;
    top: 40%;
}

div.container-estado {
    position: relative;
    left: 60%;
    width: 40%;
    margin-top: -3%;
}

.texto-estado {
    font-family: monospace, garamond, sans-serif;
    font-size: inherit;
    text-align: center;
    color: #FFDEAD;
    letter-spacing: 1px;
}

.estado {
    margin-bottom: 3.5rem;
}

.estado a {
    text-decoration: none;
    color: #FFDEAD;
}

.material-estado {
    margin-bottom: 2rem;
    height: 30%;
}

.material-estado h2 {
    color: var(--cor-neutra);
    margin-bottom: -4rem;
}